<h1>Personal Budget</h1>
<hr/>
<input id="money_made" type="number"></input>
<!-- 'number' input type makes field with up/down buttons to select number -->
<button type="button" id="money_made_button">Set Money</button><br>

Amount<input id= "money_spent" type="number"></input>
Bill Name<input id= "bill_name" type="string"></input>
<button type="button" id="money_spent_button">Save</button>
