<h1>Personal Budget</h1>
<hr/>
<input id="money_made" type="number"></input>
<!-- 'number' input type makes field with up/down buttons to select number -->
<button type="button" id="money_made_button">Set Money</button><br>

Amount<input class= "bill_input" type="number"></input>
Bill Name<input class= "bill_name" type="string"></input>

Amount<input class= "bill_input" type="number"></input>
Bill Name<input class= "bill_name" type="string"></input>

Amount<input class= "bill_input" type="number"></input>
Bill Name<input class= "bill_name" type="string"></input>

<button type="button" id="total_spent_button">Calculate</button>
